# venv
venv/
.venv/

# python
__pycache__/
*.pyc

# data & artifacts
data/raw/**
data/processed/**
models/
reports/


# notebooks
.ipynb_checkpoints/

# OS/IDE
.vscode/
.DS_Store


# Pacotes compactados
*.zip
*.7z
*.ra

# Packaging artifacts
*.egg-info/